* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.top-item {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 5rem; 
    box-sizing: border-box;
}

.top-item.navigation {
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.navigation {
    width: fit-content;
    align-items: center;
}

.navigation.logo {
    color: #F9FAF8;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
}

.node {
    height: 2rem;
    width:  2rem;
    margin-right: 0.6rem;
    vertical-align: middle;
}

.navigation.link {
    color: #e5e7eb;
    padding: 1rem;
    font-size: 1.25rem;
}

.navigation.link.one {
    margin-left: auto;
}

.opening {
   flex-direction: row;
   display: flex;
   width: 70vw;
   margin-left: 15vw;
   margin-right: 15vw;
   margin-top: 5rem;
   padding-bottom: 5rem;
   
}

.top-item.title,
.top-item.image {
    width: calc(100%/2);
    margin: 0px;
    /* border: red solid 2px; */
    height: 100%;
}

.top-item.title {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.top-item.title.header1 {
    width: 100%;
    font-size: 2rem;
    color: #F9FAF8;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.top-item.title.sub {
    color: #e5e7eb;
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1.25rem;
    width: 100%;
}

.top-item.title.button {
    width: fit-content;
    color: #F9FAF8;
    padding: 0.6rem;
    font-size: 1.25rem;
    text-align: center;
    background-color: #3882F6;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: #F9FAF8 solid 0.15rem;
}

.top-item.image {
    display: flex;
    width: 50%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.languages {
    width: 80%;
    height: auto;
    margin: auto;
    border: #151c25 solid 3px;
}

.info {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.header {
    box-sizing: border-box;
    background: blanchedalmond;
    border: black solid 2px;
    width: 100%;
    height: 5rem;
    /* temp height ^^^^ */
}

.info-box {
    display: flex;
    flex-direction: row;
}

.item {
    width: calc(100%/4);
    box-sizing: border-box;
    background: blanchedalmond;
    border: black solid 2px;
    height: 5rem;
}

.quotes {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 12.5vw;
    margin-right: 12.5vw;
}

.quote.actual,
.quote.author {
    box-sizing: border-box;
    background: blanchedalmond;
    border: black solid 2px;
    height: 100px; 
    /* tempp height */
    width: 100%;
}

.quote.author {
    width: 5%;
    margin-left: auto;
}

.message {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 100px;
    align-items: center;
    background-color: aquamarine;
}


.signup {
    box-sizing: border-box;
    background: blanchedalmond;
    border: black solid 2px;
}

.signup.notice {
    width: 70%;
    height: 100%;
}

.signup.button {
    width: 20%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
}

.extra {
    display: flex;
    width: 100vw;
    background-color: #1F2937;
    height: 5vh;
    position: fixed;
    bottom: 0px;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
}








